<section>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input             
                matInput 
                
                type="email" 
                placeholder="Your Email"
                
                formControlName="email">
                <mat-hint>Please enter valid email</mat-hint>
                <mat-error>Invalid email</mat-error>
        </mat-form-field>
        <br />

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input 
                matInput 

                type="password" 
                placeholder="Your Password"
                
                minlength="6"
                formControlName="password">
                <mat-hint>Enter Your password</mat-hint>
                <mat-error>Invalid password</mat-error> 
        </mat-form-field>
        <br />

        <button 
            mat-raised-button 

            type="submit" 
            color="primary"
            
            [disabled]="loginForm.invalid">Submit</button>
    </form>
</section>