<mat-toolbar color="primary">

    <!-- <button mat-icon-button (click)="sidenav.toggle()"> -->
    <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
    </button>

    <div>
        LOGO
    </div>
    
    <div class="pull-right">
        <a *ngIf="!isAuth" routerLink="/signup">Signup</a>&nbsp;
        <a *ngIf="!isAuth" routerLink="/login">Login</a>&nbsp;
        <a *ngIf="isAuth" routerLink="/training">Training</a>&nbsp;
        <a style="cursor: pointer;" *ngIf="isAuth" (click)="logout();">Logout</a>
    </div>

</mat-toolbar>