<section>
    <form #f="ngForm" (ngSubmit)="onSubmit(f);">

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input             
                matInput 
                
                ngModel 
                name="email"
                
                type="email" 
                placeholder="Your Email"
                
                email
                required
                
                #emailInput="ngModel">
                <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
                <mat-error *ngIf="!emailInput.hasError('required')">E-mail is invalid</mat-error>
        </mat-form-field>
        <br />

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input 
                matInput 
                
                ngModel 
                name="password"

                type="password" 
                placeholder="Your Password"
                
                required
                minlength="6"
                
                #pwInput="ngModel">
            <mat-error *ngIf="pwInput.hasError('required')">Field must not be empty</mat-error>
            <mat-hint align="start">Should be atlease 6 characters long</mat-hint>
            <mat-hint align="end">{{ pwInput?.value?.length }} / 6</mat-hint>
            <mat-error *ngIf="!pwInput.hasError('required')">Password is invalid</mat-error>
        </mat-form-field>
        <br />

        <mat-form-field appearance="fill">
            <mat-label>Date Of Birth</mat-label>
            <input 
                matInput 
                
                [matDatepicker]="picker"
                placeholder="Your date of birth"

                ngModel 
                name="birthdate"
                
                [max]="maxDate"
                
                required
                
                #birthdate="ngModel">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="birthdate.hasError('required')">Field must not be empty</mat-error>
        </mat-form-field>
        <br />
        <br />

        <section class="example-section">
            <mat-checkbox 
                ngModel
                name="agree"

                color="primary"
                
                labelPosition="before"
                class="example-margin"
                
                #agree="ngModel"
                required >Agree to terms and conditions</mat-checkbox>
                <mat-error *ngIf="agree.hasError('required')">Must be agree to the terms and conditions</mat-error>
        </section>
        <br />
        <br />

        <button 
            *ngIf="!isLoading"
            mat-raised-button 

            [disabled]="f.invalid"

            type="submit" 
            color="primary">Submit</button>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
    </form>
</section>